body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

#application {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#formulaireTache {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#saisieTache, #categorieTache {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #449d44;
}

#listeTaches {
    list-style: none;
    padding: 0;
}

#listeTaches li {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
}
